@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:300,400,700|Varela&display=swap');


/* Main & Utilities Classes  */
  /* Helpful Stuff */
/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Varela', sans-serif; */

*{
  box-sizing: border-box;
}

/* Smooth Scrolling  */
html {
  scroll-behavior: smooth;
}


body{
font-family: 'Varela', sans-serif; 
  /* background-color: black; */
  /* background-color: #191919; */
  background-color: #181818;
  color: white;
  /* As Navbar is fixed Position  */
/* padding-top: 90px;  */
}

.f-sm-size{
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
}

.ml-10{
  margin-left: 25px;
}

/* Navbar  */
.navbar{
  opacity: 0.9;
  border-bottom: #387B52 solid 3px;
  /* height: 50px; */
}
/* .navbar .navbar-brand {
  color: rgb(153, 7, 7) !important;
} */


.navbar-dark .navbar-nav .nav-link {
  /* color: rgb(255, 255, 255); */
  margin-left: 0.2rem;
}
.navbar-brand{
  color: #fff !important;
}

.navbar .dark-bg-nav {
    /* padding: 0 25px; */
    padding: 0 0.5rem;
    background-color: rgba(70, 165, 106, 0.75);
    min-height: 46px;
    /* vertical-align: baseline; */
    color: #fff !important;
    border: 0;
    margin-block-end: -10px;
    margin-block-start: -10px;
    
}


.navbar-nav a.dark-item{
  color: rgba(255, 255, 255, 0.904) !important;
padding-block-start: 17px;

}

.navbar-nav .dark-bg-nav:hover{
  background-color: rgb(56, 163, 101) !important;
}


/* Home Section  */
#home-section .bg-success{
  /* background-color: #387B52; */
  /* background-color: #00897b !important; */
  background-color: #34784E !important;
}

.card-form input::placeholder{
  color: rgba(0, 128, 0, 0.274);
  color: rgba(173, 173, 173, 0.397);

}

.card-form input:focus{
color: rgb(255, 255, 255);
background-color: rgba(0, 128, 0, 0.274);
border:  solid rgb(37, 134, 77);
outline: transparent;
 outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.904);
}

#home-section {
  /* background: url('../img/showcas4.jpg') no-repeat center center/cover; */
  background: url('../img/showcase.jpg') no-repeat center center/cover;

  background-attachment: fixed;
  min-height: 700px;
  position: relative;
}

header .dark-overlay{
  position: absolute;
  /* top: 50px; */
  top: 0;
  bottom: 0;
  left: 0;
  /* All the way across to cover it width 100%  */
  width: 100%;
  /* height should be the same like the  we want to cover the entire home sction the parent div (overlay) */
  min-height: 700px;
  /* The Dark Effect  */
  background-color: rgba(0, 0, 0, 0.6);
}

#home-section .inner-home{
padding-top: 5.625rem; 

}

#home-section .inner-home h1{
  font-size: 2.5rem;
}
#home-section .card-form{
  /* opacity: 0.9; */
}

#home-section .fa-2x{
  color: #387B52 ;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  /* box-shadow: 2px 1px 2px 3px  #FFFFFF; */
 box-shadow: 0 4px 5px -8px rgba(248, 247, 247, 0.774);

}


.card-form .btn-outline-light{
  background-color:  rgb(12, 63, 33) ;
  outline: none;

}
.card-form .btn-outline-light {
    /* color: #f8f9fa; */
 border-color: transparent;
}




.card-form .btn-outline-light:hover {
  background-color:  rgb(24, 75, 45) ;
  color: rgba(255, 255, 255, 0.596) ;
  /* border: solid pink; */
  outline: transparent !important;
  box-shadow: none;
  /* border: inherit; */
}

.card-form .btn:hover {
  outline: transparent;
  border: solid 1px transparent;
  font-weight: bold;
}

/* How It Works Section  */
#how_it_work-head-section p span{
    margin-left: 2.1rem;
    font-size: 1.1rem;
}

#how_it_work-head-section p small{
  letter-spacing: .4rem;
  color: #4d4d4d91;

}


#how_it_work-head-section hr{
  width: 4.5rem !important;
  border-top: 2px solid rgba(223, 218, 218, 0.884);
 
}


/* How it works Section */
#how_it_works-section .home-icon{
  color: #387B52;
  background-color: #171717;
  padding: 0.3125rem;
  border-radius: 5px;
  /* box-shadow: 2px 1px 2px 3px #FFFFFF; */
}


/* Our History Section  */
.main-timeline3{overflow:hidden;position:relative}
.main-timeline3:before{content:"";width:10px;height:100%;border:3px solid #959595;position:absolute;top:40px;left:50%;transform:translateX(-50%)}
.main-timeline3 .timeline{width:50%;padding:10px 60px 10px 100px;float:right;position:relative}
.main-timeline3 .timeline:before{content:"";width:40px;height:40px;border-radius:50%;background:#737374;;border:5px solid #fff;box-shadow:0 0 1px 5px #737374;;position:absolute;top:42px;left:-20px}
.main-timeline3 .timeline-content{display:block;background:#e9e9e7;padding:70px 30px 20px;box-shadow:0 0 10px rgba(0,0,0,.2) inset;position:relative}
.main-timeline3 .timeline-content:hover{text-decoration:none}
.main-timeline3 .year{display:block;width:80%;height:50px;background:#737374;;padding:0 0 0 50px;font-size:30px;font-weight:800;color:#fff;line-height:50px;box-shadow:0 0 20px rgba(0,0,0,.4) inset;border-radius:10px 10px 10px 0;position:absolute;top:20px;left:-20px}
.main-timeline3 .year:before{content:"";border-top:40px solid #737374;border-left:20px solid transparent;border-bottom:20px solid transparent;position:absolute;bottom:-60px;left:0}
.main-timeline3 .title{font-size:18px;font-weight:600;text-transform:uppercase;color:#4a4a4a}
.main-timeline3 .description{font-size:14px;color:#6f6f6f;margin:0 0 5px}
.main-timeline3 .timeline:nth-child(2n){padding:10px 100px 10px 60px;text-align:right}
.main-timeline3 .timeline:nth-child(2n):before{left:auto;right:-20px;background:rgb(60, 138, 90);box-shadow:0 0 1px 5px rgb(60, 138, 90);}
.main-timeline3 .timeline:nth-child(2n) .year{padding-right:50px;border-radius:10px 10px 0;left:auto;right:-20px;background:rgb(60, 138, 90);}
.main-timeline3 .timeline:nth-child(2n) .year:before{border-left:none;border-right:20px solid transparent;left:auto;right:0;border-top-color:#34784E;}
.main-timeline3 .timeline:nth-child(2){margin-top:140px}
.main-timeline3 .timeline:nth-child(odd){margin:-140px 0 0}
.main-timeline3 .timeline:nth-child(even){margin-bottom:60px}
.main-timeline3 .timeline:first-child,.main-timeline3 .timeline:last-child:nth-child(even){margin:0}
.main-timeline3 .timeline:nth-child(3n):before{background:#8cc43d;box-shadow:0 0 1px 5px #8cc43d}
.main-timeline3 .timeline:nth-child(3n) .year{background:#8cc43d}
.main-timeline3 .timeline:nth-child(3n) .year:before{border-top-color:#8cc43d}
.main-timeline3 .timeline:nth-child(4n):before{background:#053a1e;box-shadow:0 0 1px 5px #053a1e}
.main-timeline3 .timeline:nth-child(4n) .year{background:#053a1e}
.main-timeline3 .timeline:nth-child(4n) .year:before{border-top-color:#053a1e}
@media only screen and (max-width:990px){.main-timeline3:before{top:8%}
.main-timeline3 .timeline{padding:10px 10px 10px 100px}
.main-timeline3 .timeline:nth-child(2n){padding:10px 100px 10px 10px}
}
@media only screen and (max-width:767px){.main-timeline3:before{width:8px;top:0;left:12px;transform:translateX(0)}
.main-timeline3 .timeline,.main-timeline3 .timeline:nth-child(even),.main-timeline3 .timeline:nth-child(odd){width:100%;float:none;text-align:left;padding:0 0 0 60px;margin:0 0 30px}
.main-timeline3 .timeline:before,.main-timeline3 .timeline:nth-child(2n):before{width:20px;height:20px;border:3px solid #fff;top:38px;left:6px}
.main-timeline3 .timeline:nth-child(2n) .year{right:auto;left:-20px;border-radius:10px 10px 10px 0}
.main-timeline3 .timeline:nth-child(2n) .year:before{border-left:20px solid transparent;border-bottom:20px solid transparent;border-right:none;right:auto;left:0}
}

#our-history{
  pointer-events: none;
  }

#our-history h1 span{
  vertical-align: middle;
}

#our-history hr{
  width: 4.5rem !important;
  border-top: 2px solid rgba(223, 218, 218, 0.884);
  padding-top: -10px;
}


#our-history span i{
  font-size: 0.9rem;
  vertical-align: top;
  padding-top: 2px;

}

#our-history .timeline h3{
  vertical-align: bottom;
  font-size: 0.9rem;
  padding-top: 2px;
}

/* Device Section  */

#device{
  width: 100%;
  height: 620px;
}

#device .home-icon{
color: #387B52;
background-color: #171717;
padding: 0.3125rem;
border-radius: 5px;
/* box-shadow: 2px 1px 2px 3px #FFFFFF; */
}



#device i{
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}


#device h1{
  padding-top: 2.7rem !important;

}


#device hr{
  width: 4.5rem !important;
  border-top: 2px solid rgba(5, 1, 1, 0.884);
  margin-top: -10px;
  padding-bottom: 0.9rem;
}


/* Our Team Section  */

#our-team{
  width: 100%;
  /* height: 990px; */
  min-height: 700px;
  height: auto;
}

#our-team h1{
padding-top: 2.7rem !important;
}


#our-team img{
  width: 225px;
  height: 225px;
  border: 7px solid rgba(255, 255, 255, 0.589);
}

#our-team hr{
  width: 4.5rem !important;
  border-top: 2px solid rgba(223, 218, 218, 0.884);
}

/* #our-team span i {
  color: #333;
} */
/* #our-team span {
  background-color: #fff;
  border-radius: 50%;
  padding: 0.65rem;
} */

/* #our-team span:hover{
} */

#our-team li a{
  font-size: 1.3rem;
  line-height: 50px;
  display: block;
  width: 50px;
  height: 50px;
  transition: all .3s;
  color: rgb(0, 0, 0);
  border-radius: 100%;
  outline: 0;
  background-color: rgba(255, 255, 255, 0.918);

}

#our-team ul li a:hover{
  color: #fff;
  font-weight: bold;
  background-color: rgb(30, 80, 49) ;

}
#our-team h3{
  font-size: 1.6rem;
}

#our-team p{
  font-size: 0.9;
  padding-bottom: 1rem !important;
}

#our-team h1{
  font-size: 2.5rem;
  /* padding: 0.3rem 0; */
  padding-top: 1rem;
}

/* Footer  */
#main-footer {
  /* height: 120px; */
}
#main-footer a{
  color: #fff;
}

#main-footer a:hover{
  color: rgba(18, 124, 71, 0.993);
}

#main-footer button {
  vertical-align: middle !important;
}


#main-footer .container{
  display: flex;
}

#main-footer .btn-primary{
  padding: 5px !important;
}

#main-footer .btn-secondary{
background-color: #34784E !important;
border: 0 !important;

}


#main-footer .btn-secondary:hover{
  background-color: rgb(102, 110, 117) !important;
  border: 0 !important;
  color: #333 !important;
  outline: none;
  }
  


#main-footer .btn-secondary:focus{
  background-color: rgb(102, 110, 117) !important;
  border: 0 !important;
  color: #333 !important;
  }
  

  #main-footer h3 a{
    color: #989494d6 !important;
    font-size: 1.4rem !important;
  }

  /* Modal  */

  #contactModal .closer{
    background-color: #04140c;
    opacity: 1;
    color: #fff;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    padding: 2px 2px;
    display: inline-block;
    margin: auto;
  }